# Model arguments
model_name_or_path: /data/horse/ws/hama901h-BFTranslation/checkpoints/Qwen/Qwen3-14B-Base
# model_revision: main
torch_dtype: bfloat16

# Data training arguments
chat_template: "{%- for message in messages %}\n<|{{ message['role'] }}|>\n{{ message['content'] }}{% endfor %}{% if add_generation_prompt %}<|assistant|>\n{% endif %}"

dataset_name:
  allenai/Dolci-Instruct-SFT

# dataset_mixture:
#   datasets:
#     - id: /scratch/project_462000353/posttraining_data/SFTTrainer_format/eng/tulu-3-sft-mixture-commercial
#       config: default
#       split: train            
#       columns:
#         - messages
#       weight: 1.0
# dataset_num_proc: 8

# SFT trainer config
bf16: true
eval_strategy: 'no'
# dataset_kwargs:
#   add_special_tokens: false  # We already wrap <bos> and <eos> in the chat template
#   append_concat_token: false # No need to add <eos> across samples
# gradient_checkpointing_kwargs:
#   use_reentrant: false
learning_rate: 8e-5
log_level: info
logging_steps: 10
logging_strategy: steps
lr_scheduler_type: linear
max_length: 4096
max_steps: -1
num_train_epochs: 2
output_dir: /data/horse/ws/hama901h-BFTranslation/checkpoints/Qwen/Qwen3-14B-Base/olmo3-sft/
overwrite_output_dir: false
per_device_eval_batch_size: 1
per_device_train_batch_size: 1
gradient_accumulation_steps: 16
gradient_checkpointing: true
# push_to_hub: true
remove_unused_columns: true
# report_to:
# - tensorboard
save_strategy: "steps"
save_steps: 200
save_total_limit: 100
seed: 42
warmup_ratio: 0.03